.list {
  width: 300px;
  border: solid 1px #dbdbdb;
  background-color: #f6f7f8;
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.card {
  background-color: white;
  box-shadow: 0 1px 5px 0 #00000040;
  margin: 16px;
  padding: 12px;
  border-radius: 4px;
}

.medal {
  display: inline-flex;
  vertical-align: middle;
  border: blue solid 1px;
  border-radius: 2px;
  font-size: 12px;
  height: 16px;
  line-height: 16px;
}

.medal-left-margin {
  margin-left: 7px;
}

.medal-label {
  display: flex;
  align-items: center;
  background-color: blue;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}

.medal-name {
  color: white;
  padding: 0 6px;
}

.medal-icon {
  display: inline-block;
  background-size: contain;
  width: 26px;
  height: 26px;
  margin-left: -12px;
  margin-right: -4px;
  background-image: url(./icon.webp);
}

.medal-icon-captain {
  background-image: url(./icon.webp);
}

.medal-icon-admiral {
  background-image: url(./icon.webp);
}

.medal-icon-viceroy {
  background-image: url(./icon.webp);
}

.medal-level {
  padding: 0 3px;
}

.head {
  display: flex;
  padding-bottom: 8px;
  border-radius: 4px 4px 0 0;
  align-items: center;
  border-bottom: 1px solid gray;
}

.username {
  flex: 1;
  margin: 0 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.body {
  margin: 8px 0;
  font-size: 12px;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.username,
.price {
  font-size: 14px;
  font-weight: bold;
}

.price::after {
  content: "元";
}

.translation {
  color: gray;
}

.start-time::before {
  content: "⏱️";
}

.expired {
  background-color: #f2f2f2;
  filter: grayscale(1);
  color: #999;
  box-shadow: #ccccccbf 0px 1px 5px 0px;
}

.read {
  background-image: url(./read.svg);
  background-repeat: no-repeat;
  background-position: right -12px bottom -17px;
  background-size: 62px;
}

.sort-bar {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 16px;
  background-color: white;
  box-shadow: 0 2px 4px #00000014;
}

.mini-icon {
  width: 12px;
  height: 12px;
  padding: 5px 12px;
  background-color: #f6f7f8;
  border-radius: 4px;
  cursor: pointer;
  fill: #62676e;
}

.mini-icon:hover {
  background-color: #e3e5e7;
  transition: all 0.2s ease-in-out;
}

.title {
  line-height: 2.5;
  flex: 1;
}

.sort-bar,
.list {
  border-radius: 6px;
}
